:root {
  --primaryColor: #004b87;
  --secondaryColor: #007cbd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  /* color: #000000; */
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* .header_nav{
  overflow: hidden;
  position: fixed;
} */

/* .navbar-top {
  display: grid;
  grid-template-columns: auto 40% auto auto;
  align-items: center;
  height: 80px;
  background-color: var(--primaryColor);
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: white;
  width: 100%;
}
 */


 
.bannerAdd {
  width: 70%;
  margin: 0px auto 0px auto;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 align-items: center;

}


.bannerAdd h2, .bannerAdd p {
  margin-bottom: 10px;
}

.bannerAdd .btn {
  margin-top: 20px;
}


.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: var(--primaryColor);
  color: #fff;
  font-size: 15px;;
}

.btn:hover {
  opacity: 0.9;
}



.bannerAdd img {
  width: 400px;
  height: 300px;
}

/* Home cards */


.bookdiv {
  width: 60%;
  margin: 20px auto 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
 
}


.home-cards {
  box-shadow: 0px 0px 6px 1px #cccccc;
  padding: 8px;
}



.home-cards img {
  width: 270px;
  margin-bottom: 10px;  
  height: 160px;
}

.home-cards h3 {
  margin-bottom: 5px;
}

.home-cards h4 {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a:hover i {
  margin-left: 10px;
}

.docHead {
  width: 60%;
  margin: 20px auto;
  font-size: 26px;
  display: grid;
  grid-template-columns: auto 190px;
}

.docSelect {
  width: 60%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.docSelect1 {
  width: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 4px #979797;
}

.docSelect1 img {
  width: auto;
  height: 240px;
  margin: auto;
}

.callback {
  width: auto;
  box-shadow: 0px 1px 10px 1px #979797;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.callback img {
  width: 70%;
  height: 260px;
  margin-left: 15%;
}

.callbut {
  background-color: var(--primaryColor);
  padding: 8px;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  width: 74%;
  margin-left: 13%;
  border-radius: 8px;
}

.docBut {
  background-color: var(--primaryColor);
  padding: 6px;
  color: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  border-radius: 8px;
}

.price_but {
  display: grid;
  grid-template-columns: auto 46%;
  font-size: 1rem;
  font-weight: bold;
  align-items: center;
}

.specialist-head {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 20px 10% 20px 10%;
  font-size: 1rem;
}

.doc-div {
  width: 80%;
  margin: 20px 10% 20px 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.doctors {
  width: auto;
  box-shadow: 0px 1px 10px 1px #979797;
  padding: 10px;
  margin-bottom: 20px;
}

.doctors img{
 width: 160px;
 height: 140px;
}

.doctors h1 {
  font-size: 1.2rem;
  color: var(--primaryColor);
}

.test_items {
  width: 80%;
  margin: 20px auto;
}

.testName {
  font-family: "Hind", sans-serif;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 8px;
}

.view_all {
  color: var(--primaryColor);
  font-size: 1rem;
}

.items_overflow {
  display: flex;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
  flex: auto;
}

/* .items_overflow::-webkit-scrollbar {
  display: none;
} */

.testCard {
  padding: 10px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: 12px;
  box-shadow: 0px 1px 10px 1px #979797;
  margin: 8px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: auto;
}

.testCard h4{
  color: var(--primaryColor);
}
.testCard h4:hover{
  cursor: pointer;
}

.testCard p{
  font-size: 12px;
  white-space: normal;
  line-height: 20px;
}
.bookPrice {
  display: grid;
  grid-template-columns: 160px auto;
  grid-gap: auto;
  align-items: center;
    margin-top: 22px;
}

.bookPrice p {
  font-size: 12px;
  font-weight: bold;
}

.bookPrice button {
  padding: 6px;
  color: #ffffff;
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  border-style: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 12px;
}

.bookPrice button:hover {
  cursor: pointer;
  background-color: var(--secondaryColor);
}


/* Added by Suma */
html {
  height: 100%;
}

body {
  min-height: 100%;
}

#app {
  min-height: 100vh;
}
#content {
  padding-top:145px;
  min-height: calc(100vh - 100px); 
}
.sticky-inner{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* Added by Suma */
.footer {
  display: flex;
  position: relative;
  background-color: var(--primaryColor);
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
}

.inner_foot {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  font-size: 1rem;
}

.inner_foot p {
  margin-bottom: 6px;
}

.inner_foot a {
  color: #ffffff;
  font-size: 0.8rem;
}
.inner_foot ul {
  margin: 14px;
}

.about {
  width: 80%;
  margin: auto;
}

.about h1 {
  color: var(--primaryColor);
  text-align: center;
  margin: 40px;
  font-family: "Lato", sans-serif;
}

.about img {
  width: 300px;
  height: 200px;
  margin: 0px 20px;
  opacity: 80%;
}

.about_div {
  display: flex;
  flex-direction: row;
}

.about_div p {
  text-align: justify;
  font-size: 1rem;
  font-family: "PT Serif", serif;
  margin-right: 80px;
  font-weight: normal;
  width: 80%;
}

.service {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  box-shadow: 0px 2px 10px 1px #979797;
}

.inner_service {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.service img {
  height: 180px;
  width: 300px;
}
.service_book {
  margin-left: 600px;
  font-size: 2rem;
}

.service_book a {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #262626;
  font-size: 1rem;
  border-radius: 4px;
  margin-right: 2px;
  margin-top: 22px;
  float: right;
}

.inner_service_odd {
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}

.service_book_odd {
  margin-right: 600px;
  font-size: 2rem;
}

.service_book_odd a {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #262626;
  font-size: 1rem;
  border-radius: 4px;
  margin-right: 2px;
  margin-top: 22px;
  float: right;
}

.view_items {
  width: 80%;
  margin: 10px 10%;
}

.view_items h1 {
  text-align: center;
}

.inner_all {
  display: grid;
  grid-template-columns: 40% 40% auto;
  grid-gap: 10px;
  /* align-items: center; */
  margin: 10px 0px;
  padding: 10px 15px;
  border: 2px solid rgba(46, 44, 44, 0.5);
}

.priceBtn{
  display: grid;
  align-items: center;
  grid-template-columns: auto 120px;
}

.priceBtn p{
font-weight: bold;
}
.view_items h3 {
  color: var(--primaryColor);
  font-size: 1rem;
}

.inner_all p:nth-of-type(1) {
  font-size: 1rem;
}

.inner_all p:nth-of-type(2) {
  font-size: 1rem;
  font-weight: bold;
}

.inner_all button{
  white-space: nowrap;
}

.inner_all button:hover{
  background-color: var(--secondaryColor);
  cursor: pointer;
}


.view_items button {
  padding: 10px 14px;
  color: #ffffff;
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  border-style: none;
  border-radius: 2px;
  margin: 4px;
  font-weight: bold;
  font-size: 1rem;
}

.cart {
  width: 80%;
  margin: 20px 10% 20px 10%;
}
.cart h1 {
  height: 80px;
  text-align: center;
  background-color: var(--primaryColor);
  padding: 20px;
  margin: 20px 0% 30px 0%;
  font-size: 2rem;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  border-radius: 4px;
}

.cart p {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.cart hr {
  border: 2px solid var(--primaryColor);
  border-radius: 6px;
  box-shadow: 4px 2px 8px 2px #979797;
  margin-bottom: 20px;
}

.cart_items {
  display: grid;
  grid-template-columns: 50% auto 20px;
  grid-gap: auto;
  align-items: center;
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 1px 1px 1px 1px #979797;
  margin-bottom: 0px;
}

.cart_items p:nth-of-type(1) {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--primaryColor);
}
.cart_items p:nth-of-type(2) {
  font-size: 1.2rem;
}

.bill {
  width: 80%;
  margin: 20px 10% 20px 10%;
  padding-bottom: 120px;
}
.bill p {
  font-size: 2.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}

.bill hr {
  border: 2px solid var(--primaryColor);
  border-radius: 6px;
  box-shadow: 4px 2px 8px 2px #979797;
  margin-bottom: 40px;
}

.mrp p {
  font-size: 1rem;
  font-weight: bold;
}

.mrp p:nth-of-type(2) {
  font-size: 1.2rem;
  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
}

.charges {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  margin-bottom: 10px;
}

.charges p {
  font-size: 1.2rem;
  font-weight: bold;
}

.bill hr:nth-of-type(2) {
  border: 1px solid #000000;
  border-radius: 2px;
  box-shadow: 4px 2px 4px 0px #000000;
  margin-bottom: 40px;
}

.total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 45px;
}

.total_save p {
  font-size: 1.2rem;
  font-weight: bold;
}

.total_save p:nth-of-type(2) {
  font-size: 0.9rem;
  font-weight: normal;
}

.total_price p {
  font-size: 1.2rem;
  font-weight: bold;
}

.bill button {
  padding: 14px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  border-style: none;
  border-radius: 2px;
  float: right;
}

.bill button:hover {
  cursor: pointer;
}

.call_back{
  width: 20%;
  padding: 30px;
  margin: 20px auto 20px auto;
  border-radius: 8px;
  box-shadow: 1px 1px 6px 3px var(--primaryColor);
}
.call_back h2{
  text-align: center;
  margin-bottom: 6px;
}
.call-ele{
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: bold;
  margin: 8px 0px;
}

.call-ele span{
 color: red;
}

.call_back p{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: 6px;
 }
.call_back button{
  margin-top: 6px;
  padding: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #000000;
  border-radius: 2px;
  border-style: none;
 }

.call_back input{
  padding: 10px 10px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
}


.t_form h2 {
  font-size: 2rem;
  text-align: center;
  margin: 20px;
}

.test_form {
  width: 40%;
  padding: 20px;

  margin: 20px auto 20px auto;
  border: solid;
  border-radius: 20px;
}

.form_ele {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  width: 100%;
}

.lo {
  padding: 20px;
  font-size: 1rem;
  font-weight: bold;
}

.t_form input,
select {
  padding: 10px 10px;
  margin: 8px 0;
  border: 2px solid var(--primaryColor);
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #ffffff;
}

.callb {
  text-align: center;
  margin-top: 10px;
  color: var(--primaryColor);
}

.pair,
.picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d_pair {
  border-left: 2px groove var(--secondaryColor);
  border-right: 2px groove var(--secondaryColor);
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
}

.test_img {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 100px;
  align-items: center;
}

.test_img p {
  font-size: 1.2rem;
  font-weight: bold;
}

.but-img {
  display: flex;
  flex-direction: row;
  padding: 6px 10px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 6px;
}

.but-img p {
  margin-right: 6px;
}

.img_dis {
  grid-column: 1 / 2;
}

.react-time-picker,
.react-date-picker {
  border: 1.5px solid var(--primaryColor);
  border-radius: 4px;
  font-size: 1rem;
}

.picker input {
  padding: 0px;
  border: none;
}

.picker button {
  padding: 8px;
  background-color: #ffffff;
  border-color: var(--primaryColor);
  margin: 4px;
}

.btn_test {
  width: 100px;
  padding: 8px;
  color: #ffffff;
  background-color: var(--primaryColor);
  border-color: var(--primaryColor);
  border-style: none;
  border-radius: 2px;
  font-weight: bold;
  font-size: 1.2rem;
}

.form_but {
  margin-top: 20px;
  margin-left: 280px;
}

.auth-opt {
  width: 18%;
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.auth-opt button {
  width: 100%;
  padding: 14px;
  font-size: 1.2rem;
  font-weight: bold;
  border-color: #000000;
}

.auth-opt button:nth-of-type(1) {
  border-radius: 12px 0px 0px 12px;
}

.auth-opt button:nth-of-type(2) {
  border-radius: 0px 12px 12px 0px;
}
.active-but {
  background-color: var(--primaryColor);
  color: #ffffff;
}
.inactive-but {
  background-color: #ffffff;
}

.auth-form {
  width: 18%;
  margin: auto;
  margin-bottom: 100px;
}

.auth-form p {
  font-size: 0.9rem;
  font-weight: normals;
  float: right;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  background-color: #ffffff;
  font-size: 1.2rem;
  margin-bottom: 3px;
}

.auth-form button {
  width: 100%;
  padding: 12px;
  margin: 20px 0px;
  background-color: var(--primaryColor);
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  border: none;
}

.relink {
  font-size: 1rem;
  color: var(--primaryColor);
  font-weight: bold;
}

.log-ele {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 2px;
}

.log-ele span {
  color: red;
}

/* OTC form */

.otc_div {
  width: 50%;
  margin: auto;
}

.otc_search {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 2px 8px 22px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-bottom: 12px;
}

.otc_search input[type="text"] {
  height: 40px;
  padding: 11px;
  border: none;
  font-size: 14px;
  width: 100%;
}

/* prescription  */

.prescription {
  width: 50%;
  margin: 20px auto 0px auto;
}

.prescription h1 {
  margin: 0px 20px 0px 10px;
}

.prescription p:nth-of-type(1) {
  font-size: 0.9rem;
}

.pre_but {
  padding: 20px;
  margin: 0px 10px 20px 20px;
  font-style: bold;
  background-color: var(--primaryColor);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
}

.pre_but:hover {
  cursor: pointer;
}

.prescription p:nth-of-type(2) {
  font-size: 1.1rem;
  font-weight: bold;
}

.prescription hr {
  box-shadow: 1px 2px 8px 0px #979797;
  margin-bottom: 20px;
  margin-top: 10px;
}

.prescription i {
  margin: 0px 10px 0px 10px;
}

.file_but {
  border-radius: 14px;
  padding: 8px;
  margin: 0px 10px 20px 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
}

.file_but:hover {
  cursor: pointer;
}

.form_elem {
  display: flex;
  flex-direction: column;
  margin: 0px 10px 20px 10px;
}

.form_elem label {
  margin: 0px 10px 5px 10px;
  font-size: 1rem;
}

.form_elem input {
  border-radius: 4px;
  padding: 11px;
  margin-left: 16px;
  font-size: 1rem;
  border-color: #000000;
  height: 36px;
}

.pair_p {
  display: flex;
  flex-direction: row;
}

.m_div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* MedItems */

.filter_med {
  overflow: auto;
  white-space: nowrap;
  width: 90%;
  margin: 20px auto;
}

.filter_med button {
  box-shadow: 2px 1px 1px 1px #000000;
  display: inline-block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  margin: 6px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border-style: none;
  border-radius: 6px;
  font-size: 1rem;
}

.filter_med button:hover {
  box-shadow: 1px 1px 1px 2px var(--primaryColor);
  border-style: solid 1px;
  cursor: pointer;
}


.meds {
  width: 98%;
  margin: 10px auto;
}

.med_i {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.meditems h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: var(--primaryColor);
}
.meditems h3:hover{
 cursor: pointer;
}
.meditems{
  box-shadow: 2px 4px 10px 1px #dfdfdf;
  padding: 10px;
  border-radius: 12px;
}
.meditems:hover{
  box-shadow: 6px 10px 1px 1px #dfdfdf;
}
.meditems p{
font-size: 12px;
color: #525252;
}
.medBook {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.medBook p{
  font-weight: bold;
  color: #000000;
 }

.medBook button{
  padding: 8px;
  font-style: bold;
  background-color: var(--primaryColor);
  color: #fff;

  border: none;
  border-radius: 4px;
  white-space: nowrap;
}

.medBook button{
  padding: 8px;
  font-style: bold;
  background-color: var(--primaryColor);
  color: #fff;

  border: none;
  border-radius: 4px;
  white-space: nowrap;
}

.medBook button:hover{
   background-color: var(--secondaryColor);
   cursor: pointer;
}

/* Profile */

.profile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: auto;
}

.p_img {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 11, 0.2);
  border-radius: 12px;
  margin: 10px;
  padding: 6px;
  display: flex;
  flex-direction: row;
}
.p_address,
.p_contact {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 11, 0.2);
  border-radius: 12px;
  margin: 10px;
  padding: 16px;
}

.p_img img {
  width: 120px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.name_edit,
.add_edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add_edit a {
  align-self: flex-end;
  color: var(--primaryColor);
  font-weight: bold;
}

.name_edit a {
  align-self: flex-end;
  color: var(--primaryColor);
  font-weight: bold;
}

.name_edit h1,
.add_edit h1 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 6px;
  white-space: nowrap;
}

.p_pair {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.pass_change {
  margin: 12px 12px 12px 0px;
  font-weight: bold;
}

.pass_change a:hover {
  color: var(--primaryColor);
}


/* Media query for tab */

@media (max-width: 1180px) {
  .inner_all {
    grid-gap: 10px;
    margin: 4px 0px;
    padding: 2px 4px;
  }
  
  .view_items {
    width: 100%;
    margin: 10px auto;
  }
  

  .docSelect {
    grid-template-columns: repeat(3, 1fr);
  }

  
  .meditems img {
    height: 140px;
    width: 100px;
  }
  .med_i {
    grid-template-columns: repeat(2, 1fr);
  }
  .prescription {
    width: 80%;
  }

 

  .test_items {
    width: 94%;
    margin: 20px auto;
  }

  .home-cards {
    width: 90%;
    margin: 20px 5% 20px 5%;
  }

  .doc-div {
    width: 90%;
    margin: 20px auto 20px auto;
    grid-template-columns: repeat(3, 1fr);
  }
}


/* Media query for ipad tab */
@media (max-width: 768px) {

  .inner_all {
    display: flex;
 flex-direction: column;
  }
  

  

  
  .docSelect {
    grid-template-columns: repeat(2, 1fr);

  }

  .m_div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .prescription {
    width: 80%;
    margin: 20px auto 0px auto;
  }
  .doc-div {
    width: 90%;
    margin: 20px auto 20px auto;
    grid-template-columns: repeat(2, 1fr);
  }

  .auth-form {
    width: 50%;
  }

  .auth-opt {
    width: 50%;
    margin-top: 100px;
  }

  
  .home-cards img {
    width: 160px;
    margin-bottom: 10px;
    height: 120px;
  }

  /* .fix {
    display: none;
  } */
  .navbar-top h1 {
    padding: 0px 20px;
  }

  .store-img {
    padding: 0px 10px;
  }
}

/* Media query for mobile */

@media (max-width: 500px) {
  .call_back{
    width: 96%;
    padding: 6px;
    margin: 2px auto 2px auto;
  }

  .test_items {
    width: 98%;
    margin: 20px auto 2px auto;
  }

  .meditems img {
    height: 140px;
    width: 100px;
  }

  .inner_foot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    white-space: nowrap;
  }

  .med_i {
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 90%;
    margin: 20px auto 20px auto;
  }
  .cart h1 {
    display: none;
  }
  .bill {
    width: 90%;
    margin: 20px auto 20px auto;
  }
  .inner_about img {
    display: none;
  }
  .prescription h1 {
    font-size: 1.4rem;
  }
  .prescription {
    width: 100%;
  }
  .pair_p {
    display: flex;
    flex-direction: column;
  }

  .otc_div {
    width: 90%;
    margin-bottom: 20px;
  }

  .doc-div {
    width: 100%;
    margin: 20px auto 20px auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .specialist-head {
    width: 100%;
    margin: 20px auto 20px auto;
    flex-direction: column;
  }

  .test_form {
    width: 90%;
    padding: 10px;
    margin: 20px auto 20px auto;
    border: none;
  }

  .t_form h2 {
    font-size: 1.8rem;
  }

  .pair,
  .picker {
    flex-direction: column;
  }
  .t_form input,
  select {
    margin: 0px 0px;
  }

  .form_but {
    margin-left: 120px;
  }

  .docHead {
    width: 99%;

  }

  .docSelect1 {
 
    border-radius: 10px;
    box-shadow: 0px 0px 10px 4px #979797;
    margin-bottom: 18px;
  }

  .docSelect1 img {
    width: 140px;
    height: 140px;
  }

  .docSelect {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: auto;
  }


  .view_items {
    width: 98%;
    margin: 1px 1%;
  }

  .view_items h1 {
    font-size: 1rem;
  }

  .home-cards {
    grid-template-columns: repeat(2, 1fr);
  }


  .home-cards {
    width: 92%;
    margin: 20px 4% 20px 4%;
  }


  .store-img img {
    height: 20px;
    padding-right: 2.5px;
  }

  .store-img h3 {
    display: none;
  }
  .profile {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: auto;
  }
}

@media (max-width: 375px) {
  .docSelect {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
  .docSelect1 {
    margin: auto;
  }
}



 /* Nav bar and top navbar */

.navbar-top{
  background-color: var(--primaryColor);
  display: grid;
      grid-template-columns: 260px auto 200px 200px;
      column-gap: 20px;
  height: 100px;
  align-items: center;
}

.menu-btn{
  cursor: pointer;
  display: none;
  left: 20px;
  color: #ffffff;
  position: absolute;
}

.close-i{
    top: 0;
   cursor: pointer;
  display: none;
  right: 20px;
  color: #000000;
  position: absolute;
}

.menu-search{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}


.logo p{ 
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 2rem;
  white-space: nowrap;
  margin-left: 100px;
}

.navbar-top a:link {
  text-decoration: none;
}

.navbar-top a:visited {
  text-decoration: none;
}

.call{
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  white-space: nowrap;
  margin-right: 100px;
}

.upload{
  padding: 12px;
  color: #ffffff;
  background-color: #000000;
  border-style: none;
  border-radius: 2px;
  font-weight: bold;
  margin: auto;
}

.upload:hover{
 cursor: pointer;
}


.search{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 12px;
  width: 100%;   
  background-color: #ffffff;
  margin: 16px 0px 20px 0px;
}

.search input[type="text"] {
  border-radius: 10px;
  padding: 8px;
  border: none;
  font-size: 12px;
  width: 96%;
}


.search i{
    margin: 8px;
}


.main-nav{
  width: 80%;
  margin: 0px auto 0px auto;
  background-color:white;
}

/* Nav */
.main-menu{
  display: flex;
  align-items: center; 
  flex-direction: row;
  height: 60px;
  padding: 20px 0;
}


.right{
  display: flex;
  align-items: center; 
  flex-direction: row;
  right: 100px;
  position: absolute;
}

.main-nav a {
  color: #262626;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.main-nav ul {
  list-style: none;
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid #262626;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}



@media (max-width: 1024px) {

  


.logo {
  grid-area: lo;
}
.menu-search {
  grid-area: se;
}
.upload {
  grid-area: up;
}
.call {
  grid-area: sd;
}
.menu-btn{
  grid-area: pb;
}


.navbar-top{
  /* grid-template-columns: auto auto auto auto; */
height: 120px;
  grid-template-columns: 2fr 2fr 2fr;  
  grid-template-areas:
    "lo .  .sd"
    " pb se se se";

}



.menu-btn, .close-i {
  display: block;
}

.menu-btn:hover {
  opacity: 0.5;
}


.main-nav ul.right-menu {
  margin-right: 100px;
}



.main-nav ul.main-menu {
  display: block;
  position: absolute;
  top:0;
  left: 0;
  background: #ffffff;
  width: 90%;
  height: 200%;
  border-right: #ccc 1px solid;

  padding: 20px;
  transform: translateX(-1000px);
  transition: transform 0.5s ease-in-out;
}

.main-nav ul.main-menu li {
  padding: 10px;
  border-bottom: #ccc solid 1px;
  font-size: 14px;
}

.main-nav ul.main-menu li:last-child {
  border-bottom: 0;
}

.main-nav ul.main-menu.show {
  transform: translateX(-20px);
}


.right{
  display: flex;
  align-items: center; 
  flex-direction: column;
  left: 0px;
}


.search{
  margin: 14px 8px 20px 2px;
}

.logo p{ 

  font-size: 1.2rem;
  margin-left: 12px;
}

.call{

  margin-right: 12px;
}
  


.upload{
  display: none;
}





}








@media (max-width: 600px) {

  
.navbar-top{

    height: 100px;

}

.logo p{ 

  font-size: 1rem;
  margin-left: 12px;
}

.call{

  margin-right: 12px;
}
  
}



/* Banner Add  */


@media (max-width: 984px) {
  
  .bannerAdd{
    width: 100%;
  }


}


@media (max-width: 700px) {
  .bannerAdd img{
 width: 300px;
 height: 240px;
  }
  
  .bannerAdd{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);

  }

  .bannerAdd .btn {
    margin-top: 2px;
    margin-bottom: 10px;
  }
  
}


/* Banner Add */




/* Book now */


@media(max-width: 1380px) {
  .bookdiv {
    width: 100%;
  }
}

@media(max-width: 1000px) {
  .home-cards img {
    width: 170px;
    height: 120px;
  }
  .home-cards {
    padding: 6px;
  }
  
}

@media(max-width: 700px) {
  .bookdiv {
    width: 100%;
    margin: 20px auto 20px auto;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6px;
  }
  
  
}

/* Book now */