:root {
  --primaryColor: #004b87;
  --secondaryColor: #007cbd;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: rgba(236, 236, 236, 0.5) !important;
}

footer {
  bottom: 0;
  width: 100%;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.nav-button {
  width: 42px;
  height: 42px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.nav-button span {
  display: block;
  height: 3px;
  width: 22px;
  background: #fff;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.nav-button span#bar1.clicked {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 22px;
          transform-origin: 22px;
}

.nav-button span#bar2 {
  margin: 0.3rem 0;
}

.nav-button span#bar2.clicked {
  opacity: 0;
}

.nav-button span#bar3.clicked {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 22px;
          transform-origin: 22px;
}

.navbar {
  background-color: var(--primaryColor) !important;
  color: white;
}

.navbar .search-container {
  position: relative;
}

.navbar .search-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  padding: 0.1rem 0.4rem;
  border-radius: 4px;
}

.navbar .search-container form input {
  width: 95%;
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .search-container form button {
  border: none;
}

.navbar .search-container table {
  position: absolute;
  top: 45px;
  background: #ffffff;
  z-index: 10;
}

.footer {
  background: var(--primaryColor);
}

.footer .container .row div h6 {
  padding-bottom: 0.2rem;
  border-bottom: 2.5px solid var(--teal);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #ffffff;
}

.footer .container .row div ul li a {
  color: #ffffff;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  text-decoration: none;
}

.footer .container .row div ul li a:hover, .footer .container .row div ul li a:focus {
  color: var(--teal);
}

.footer .container .row .contact-us ul li a {
  color: #ffffff;
}

.home-cards {
  position: relative;
  height: 320px;
}

.home-card-subtitle {
  width: 200px;
}

.get-started {
  position: absolute;
  bottom: 0;
  right: 0;
}

.items_overflow {
  height: 200px;
  overflow: auto;
  white-space: nowrap;
}

.testCard {
  width: auto;
  background-color: var(--primaryColor);
  color: white;
  border: 2px solid white;
  border-radius: 6px;
}

.button-test {
  background-color: white;
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  color: var(--secondaryColor);
}

.button-test:hover {
  background-color: #ececec;
}

.table-item td {
  padding: 0 !important;
  border: none !important;
}

.consult-form label {
  font-weight: bold;
  margin-top: 1em;
}

.consult-form span {
  color: red;
}

@media (max-width: 699px) {
  .navbar .search-container {
    width: 100%;
  }
  .navbar .search-container form {
    width: 100%;
  }
}

@media (min-width: 700px) {
  .navbar a {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .navbar button {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .navbar .search-container {
    width: 470px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .navbar .search-container form {
    width: 100%;
  }
}

@media (min-width: 991px) {
  .navbar {
    -ms-flex-wrap: nowrap !important;
        flex-wrap: nowrap !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .navbar .nav-brand {
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
  }
  .navbar .search-container {
    width: auto;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .navbar .search-container form input {
    width: 80%;
  }
  #navigation {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-preferred-size: 58%;
        flex-basis: 58%;
    padding: 0 1rem;
  }
  #navigation ul {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.5rem 5%;
  }
  .navbar .search-container {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
  .navbar .search-container form input {
    width: 90%;
  }
  .navbar #navigation {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

.button-primary {
  background: var(--primaryColor);
  border: none;
  color: #fff;
  text-transform: uppercase;
  width: 10.5rem;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  height: 2.25rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 1em;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.button-primary:hover, .button-primary:focus {
  background: var(--secondaryColor);
}

.button-secondary {
  background: var(--secondaryColor);
  border: none;
  color: #fff;
  text-transform: uppercase;
  width: 10.5rem;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  height: 2.25rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 1em;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.button-secondary:hover, .button-secondary:focus {
  background: var(--primaryColor);
}

.button-transparent {
  background: transparent;
  border: solid 1px var(--secondaryColor);
  color: var(--secondaryColor);
}

.button-transparent,
.button-primary,
.button-primary-inverted {
  text-transform: uppercase;
  width: 10.5rem;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: center;
  height: 2.25rem;
  font-size: 0.75rem;
  border-radius: 0.25rem;
  font-weight: 500;
  cursor: pointer;
}

.primary-text {
  color: var(--primaryColor) !important;
}

.secondary-text {
  color: var(--secondaryColor) !important;
}

.icon-primary {
  color: rgba(30, 31, 82, 0.3) !important;
}

.banner-bg {
  background: -webkit-gradient(linear, left top, right bottom, from(#0f84c1), color-stop(#7cbcdd), color-stop(#89cbee), to(#cce5f2));
  background: linear-gradient(to bottom right, #0f84c1, #7cbcdd, #89cbee, #cce5f2);
  background-color: #89cbee;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.btn-primary {
  border: 0 !important;
  background-color: #0f84c1 !important;
  text-transform: uppercase;
  font-size: 0.75rem !important;
  padding: 1rem 2rem !important;
}

.primary-heading {
  font-weight: 600;
  line-height: 1.5;
  color: #2f3451;
  font-size: 1.5rem;
}

.presc-wrapper .presc-img-wrapper .presc-img img {
  max-width: 100%;
  max-height: 16rem;
}

.presc-wrapper .presc-img-wrapper button {
  display: none;
}

.btn-meditem:hover {
  background-color: var(--secondaryColor) !important;
  color: white !important;
}

.btn-meditem:focus {
  background-color: var(--primaryColor) !important;
  color: white !important;
}
/*# sourceMappingURL=App.css.map */