:root {
    --primaryColor: #004b87;
    --secondaryColor: #007cbd;
}
  
.navbar {
    background-color: var(--primaryColor) !important;
    color: white;
}
  
.button-primary {
    background: var(--primaryColor);
    border: 1px solid var(--primaryColor);
    color: #fff;
    text-transform: uppercase;
    width: 10.5rem;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    height: 2.25rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 1em;
}
  
.button-transparent {
    background: transparent;
    border: solid 1px var(--secondaryColor);
    color: var(--secondaryColor);
}
.button-transparent,
.button-primary,
.button-primary-inverted {
    text-transform: uppercase;
    width: 10.5rem;
    outline: 0;
    box-shadow: none;
    text-align: center;
    height: 2.25rem;
    font-size: 0.75rem;
    border-radius: 0.25rem;
    font-weight: 500;
    cursor: pointer;
}

.active,
.collapsible:hover {
    background-color: #555;
}

/* Home Cards - Booking */
.bookdiv {
    position: relative;
}
.home-cards {
    height: 280px;
}
.get-started {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* 
// ------------------------------------------
//   Footer
// ------------------------------------------ 
*/
.footer {
    background: var(--primaryColor);  .container {
        .row {
        div {
            h6 {
            padding-bottom: 0.2rem;
            border-bottom: 2.5px solid var(--teal);
            width: max-content;
            color: #ffffff;
            }        ul li a {
            color: #ffffff;
            transition: 0.2s ease-out;
            text-decoration: none;          &:hover,
            &:focus {
                color: var(--teal);
            }
            }
        }      .contact-us {
            ul li a {
            color: #ffffff;
            }
        }
        }
    }
}